@model Vidly.ViewModels.RamdomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    string popular=null;
}
@if (Model.Customers.Count>1)
{
    popular = "popular";
    <p>This movie is popular. It was rened for @Model.Customers.Count times</p>
}


<h2 class ="@popular">@Model.Movie.Name</h2>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>
    }

</ul>