@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>



<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
@section scripts
    {
    <script>
        $(document).ready(function () {

            var table = $("#customers").DataTable({
                ajax:{
                    url: "/api/customers",
                    dataSrc:""
                },
                columns:[
                    {
                        data:"name",
                        render: function (data, type, customer) {
                            return "<a href='/Customers/edit/" + customer.id + "'>" + customer.name + "</a>"
                        }
                    },
                    {
                        data:"membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data){
                            return "<button class= 'btn btn-link js-delete' data-customer-id=" +data+">delete</button>"
                        }

                    }
                ]
            });
            $(table.table().container()).removeClass('form-inline');


            $("#customers").on("click", ".js-delete", function ()
            {
                console.log("SUCCEEESSS1111");
                var button = $(this);

                bootbox.confirm("Are you shure you want to delete this customer?", function (result)
                {
                    console.log("SUCCEEESSS22222");
                    if (result)
                    {
                        console.log("SUCCEEESSS");
                        $.ajax(
                            {
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function ()
                                {
                                    button.parents("tr").remove();
                                }
                            });
                    }
                });
            });
        });

    </script>

    }
